/* body */
body {
  background-color: rgb(246, 246, 255);
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
}

/* header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: larger;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  margin-right: 20px;
  width: 90px;
  height: 90px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h1,
.profile-info p {
  margin: 0;
}

#socialMedia {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

#socialMedia a {
  margin-right: 10px;
  font-size: larger;
}

#socialMedia a,
nav a {
  color: white;
  text-decoration: none;
  transition: font-size 0.25s; 
}

nav {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 30%;
  justify-content: space-evenly;
}

nav a:hover {
    font-size: x-large;
    transition: font-size 0.25s; 
    text-shadow: 1px 1px 20px white;
}


/* main */
main {
  padding: 0px 20px;
}

section {
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2 {
  margin-bottom: 10px;
  width: 100%;
}

.project-card {
  border: #333 solid 1px;
  border-radius: 8px;
  width: 200px;
  height: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}

.project-card h3 {
  text-shadow: 1px 1px 3px gray;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-card a {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 7px;
  align-items: center;
}

.project-card .playBtn {
  height: 15%;
}

.project-card a:hover {
  background-color: rgb(33, 50, 90);
  color: white;
  text-shadow: 1px 1px 3px gray;
}

.project-card .playBtn:hover {
  background-color: rgb(33, 50, 90);
  color: white;
  text-shadow: 1px 1px 3px gray;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
}

/* Medya Sorguları */

@media (max-width: 1024px) {
  nav {
    width: 35%;
    font-size: medium;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    text-align: center;
  }

  .profile img {
    margin-bottom: 10px;
  }

  nav {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  #socialMedia {
    justify-content: center;
  }

  main {
    padding: 10px;
  }

  .projects {
    display: flex;
    flex-direction: row;
  }

  .project-card {
    margin-right: 15px;
  }

  .project-card img{
    height: fit-content;
  }
}

@media (max-width: 450px) {
  nav {
    font-size: 70%;
    font-weight: bold;
    justify-content: space-between;
  }

  .projects {
    display: flex;
    justify-content: space-around;
  }

  .project-card {
    width: 45%;
    height: auto;
    margin: 0px;
  }

  .project-card img {
    height: 90%;
    width: 100%;
  }

  .project-card .playBtn {
    padding-bottom: 5px; 
  }
}